<div class="catalog-grid">
  <% @products.each do |product| %>
    <div class="catalog-card">
      <%= link_to image_tag(product.image, alt: product.name), product_path(product), class: "catalog-image" %>
      <%= link_to product.name, product_path(product), class: "catalog-name" %>
      <p>$<%= product.price %> <%= product.currency %></p>
      <%= button_to "Add to Cart", cart_add_path(product_id: product.id), method: :post, class: "add-to-cart-button" %>
    </div>
  <% end %>
</div>