<div class="container mt-5">
  <div class="mb-3">
    <%= link_to "Back to Products", products_path(), class: "btn btn-default" %>
  </div>

  <h1><%= @product.name %></h1>
  <div class="row mt-4">
    <div class="col-md-4">
      <img src="<%= asset_path(@product.image) %>" alt="<%= @product.name %>" class="img-thumbnail" style="width: 100px;">
    </div>
    <div class="col-md-8">
      <h3>Details</h3>
      <ul class="list-group">
        <li class="list-group-item"><strong>Price:</strong> <%= number_to_currency(@product.price) %>  <%= @product.currency %></li>
        <li class="list-group-item"><strong>Type:</strong> <%= @product.product_type.description %></li>
        <li class="list-group-item"><strong>Category:</strong> <%= @product.category.description %></li>
        <li class="list-group-item"><strong>Description:</strong> <%= @product.description %></li>
        <li class="list-group-item"><%= button_to "Add to Cart", cart_add_path(product_id: @product.id), method: :post, class: "add-to-cart-button" %></li>
      </ul>
    </div>
  </div>
</div>
